<li id="forum-<%= forum.id %>">
  <!-- <%= link_to gravatar_for(forum.user, size: 50), forum.user %> -->
  <span class="user"><%= link_to forum.title, forum_path(forum.id) %></span>
  <!-- <span class="content"><%= forum.name %></span> -->
  <span class="timestamp">
    Posted <%= time_ago_in_words(forum.created_at) %> ago.
    (<%= forum.messages.count %> 件)
    <%= forum.messages.order(:created_at).first.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %>
  </span>
</li>
